<h2>Задания</h2>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>Название задания</th>
            <th>Текст задания</th>
            <th>Баллы</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title}}</td>
            <td>{{ task.text | yesNo }}</td>
            <td>{{ task.score }}</td>
            <td><a ng-click="deleteTask(task.id)" class="btn btn-small btn-danger">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="createNewTask()" class="btn btn-small">Создать задание</a>
</div>