<h2>Команды</h2>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Название команды</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="team in teams">
            <td>{{ team.username}}</td>
            <td><a ng-click="deleteTeam(team.id)" class="btn btn-small btn-danger">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="createNewTeam()" class="btn btn-small">Создать команду</a>
</div>